:root {
    --color-accent: oklch(65% 50% 0);
}

html {
    accent-color: var(--color-accent);
    /* background-color: black; */
}

body {
    /* Set line height to 1.5 times the font size and use the OS's UI font as the website font
        */
    font: 125% / 1.5 system-ui;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

nav {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: oklch(80% 3% 200);
}

nav a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
    margin-bottom: 0em;
}

nav a.current {
    border-bottom: 0.4em solid oklch(80% 3% 200);
    padding-bottom: 0.3em;
}

a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    padding-bottom: 0.3em;
    background-color: oklch(from var(--color-accent) 95% 5% h);
}

button, input, textarea, /* inherit font for these form controls*/
select{
    font: inherit
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}

label {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
}

button {
    grid-column: 1 / -1;
}

div.projects{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    column-gap: 1em;
}

article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 1em;
}

article h2 {
    margin: 0;
    font-size: 150%;
}

h1, h2, h3, h4, h5, h6{
    line-height: 1.1;
    text-wrap: balance;
}

figure img {
    max-width: 100%;
    height: auto;
}

section p {
    line-height: 0.5;
}

p.small_header {
    font-size: 140%;
}